In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from modules.builder import *
from modules.cleaner import *
from modules.builder import Builder
import pandas as pd
import os
from modules.cleaner import Cleaner
from modules.qualityChecker import QualityChecker
import json
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import joblib
import plotly.express as px
from sklearn.metrics import r2_score
import opendatasets as od

In [3]:
od.download('https://www.kaggle.com/datasets/caesarmario/our-world-in-data-covid19-dataset')
od.download('https://www.kaggle.com/datasets/rsrishav/covid-vaccination-dataset')

Skipping, found downloaded files in "./our-world-in-data-covid19-dataset" (use force=True to force download)
Skipping, found downloaded files in "./covid-vaccination-dataset" (use force=True to force download)

In [4]:
df = pd.read_csv("/usr/src/covid_prediction/our-world-in-data-covid19-dataset/owid-covid-data.csv")

In [5]:
pd.set_option('display.max_rows', 500)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206397 entries, 0 to 206396
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    206397 non-null  object
 1   continent                                   194465 non-null  object
 2   location                                    206397 non-null  object
 3   date                                        206397 non-null  object
 4   total_cases                                 198013 non-null  float64
 5   new_cases                                   197775 non-null  float64
 6   new_cases_smoothed                          196598 non-null  float64
 7   total_deaths                                179247 non-null  float64
 8   new_deaths                                  179213 non-null  float64
 9   new_deaths_smoothed                         178046 non-null  float64
 10  total_cases_per_million                     197103 non-null  float64
 11  new_cases_per_million                       196865 non-null  float64
 12  new_cases_smoothed_per_million              195693 non-null  float64
 13  total_deaths_per_million                    178350 non-null  float64
 14  new_deaths_per_million                      178316 non-null  float64
 15  new_deaths_smoothed_per_million             177154 non-null  float64
 16  reproduction_rate                           155030 non-null  float64
 17  icu_patients                                27297 non-null   float64
 18  icu_patients_per_million                    27297 non-null   float64
 19  hosp_patients                               29240 non-null   float64
 20  hosp_patients_per_million                   29240 non-null   float64
 21  weekly_icu_admissions                       6764 non-null    float64
 22  weekly_icu_admissions_per_million           6764 non-null    float64
 23  weekly_hosp_admissions                      13420 non-null   float64
 24  weekly_hosp_admissions_per_million          13420 non-null   float64
 25  total_tests                                 79385 non-null   float64
 26  new_tests                                   75401 non-null   float64
 27  total_tests_per_thousand                    79385 non-null   float64
 28  new_tests_per_thousand                      75401 non-null   float64
 29  new_tests_smoothed                          103963 non-null  float64
 30  new_tests_smoothed_per_thousand             103963 non-null  float64
 31  positive_rate                               95920 non-null   float64
 32  tests_per_case                              94058 non-null   float64
 33  tests_units                                 106786 non-null  object
 34  total_vaccinations                          57162 non-null   float64
 35  people_vaccinated                           54538 non-null   float64
 36  people_fully_vaccinated                     52036 non-null   float64
 37  total_boosters                              28811 non-null   float64
 38  new_vaccinations                            46842 non-null   float64
 39  new_vaccinations_smoothed                   115562 non-null  float64
 40  total_vaccinations_per_hundred              57162 non-null   float64
 41  people_vaccinated_per_hundred               54538 non-null   float64
 42  people_fully_vaccinated_per_hundred         52036 non-null   float64
 43  total_boosters_per_hundred                  28811 non-null   float64
 44  new_vaccinations_smoothed_per_million       115562 non-null  float64
 45  new_people_vaccinated_smoothed              114707 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  114707 non-null  float64
 47  stringency_index                            155171 non-null  float64
 48  population                                  205170 non-null  float64
 49  population_density                          183667 non-null  float64
 50  median_age                                  170187 non-null  float64
 51  aged_65_older                               168388 non-null  float64
 52  aged_70_older                               169295 non-null  float64
 53  gdp_per_capita                              169198 non-null  float64
 54  extreme_poverty                             110364 non-null  float64
 55  cardiovasc_death_rate                       169765 non-null  float64
 56  diabetes_prevalence                         178185 non-null  float64
 57  female_smokers                              128403 non-null  float64
 58  male_smokers                                126644 non-null  float64
 59  handwashing_facilities                      83368 non-null   float64
 60  hospital_beds_per_thousand                  150840 non-null  float64
 61  life_expectancy                             193075 non-null  float64
 62  human_development_index                     165331 non-null  float64
 63  excess_mortality_cumulative_absolute        7021 non-null    float64
 64  excess_mortality_cumulative                 7021 non-null    float64
 65  excess_mortality                            7039 non-null    float64
 66  excess_mortality_cumulative_per_million     7021 non-null    float64
dtypes: float64(62), object(5)
memory usage: 105.5+ MB

In [7]:
df.loc[df['location'] == 'Thailand']

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
183133,THA,Asia,Thailand,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183134,THA,Asia,Thailand,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183135,THA,Asia,Thailand,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183136,THA,Asia,Thailand,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183137,THA,Asia,Thailand,2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184072,THA,Asia,Thailand,2022-07-31,4592284.0,2108.0,2098.714,31404.0,19.0,30.714,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
184073,THA,Asia,Thailand,2022-08-01,4594127.0,1843.0,2362.000,31431.0,27.0,34.571,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
184074,THA,Asia,Thailand,2022-08-02,4596559.0,2432.0,2055.857,31463.0,32.0,29.286,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
184075,THA,Asia,Thailand,2022-08-03,4598725.0,2166.0,2093.571,31492.0,29.0,28.857,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
184076,THA,Asia,Thailand,2022-08-04,4600978.0,2253.0,2061.143,31526.0,34.0,28.429,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN

In [8]:
df = df.loc[df['location'] == 'Thailand']

In [9]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
183133,THA,Asia,Thailand,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183134,THA,Asia,Thailand,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183135,THA,Asia,Thailand,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183136,THA,Asia,Thailand,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183137,THA,Asia,Thailand,2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184072,THA,Asia,Thailand,2022-07-31,4592284.0,2108.0,2098.714,31404.0,19.0,30.714,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
184073,THA,Asia,Thailand,2022-08-01,4594127.0,1843.0,2362.000,31431.0,27.0,34.571,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
184074,THA,Asia,Thailand,2022-08-02,4596559.0,2432.0,2055.857,31463.0,32.0,29.286,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
184075,THA,Asia,Thailand,2022-08-03,4598725.0,2166.0,2093.571,31492.0,29.0,28.857,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
184076,THA,Asia,Thailand,2022-08-04,4600978.0,2253.0,2061.143,31526.0,34.0,28.429,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN

In [10]:
df.isna().sum()

iso_code                                        0
continent                                       0
location                                        0
date                                            0
total_cases                                    18
new_cases                                      21
new_cases_smoothed                             26
total_deaths                                   57
new_deaths                                     58
new_deaths_smoothed                            63
total_cases_per_million                        18
new_cases_per_million                          21
new_cases_smoothed_per_million                 26
total_deaths_per_million                       57
new_deaths_per_million                         58
new_deaths_smoothed_per_million                63
reproduction_rate                              74
icu_patients                                  944
icu_patients_per_million                      944
hosp_patients                                 944
hosp_patients_per_million                     944
weekly_icu_admissions                         944
weekly_icu_admissions_per_million             944
weekly_hosp_admissions                        944
weekly_hosp_admissions_per_million            944
total_tests                                    62
new_tests                                      62
total_tests_per_thousand                       62
new_tests_per_thousand                         62
new_tests_smoothed                             68
new_tests_smoothed_per_thousand                68
positive_rate                                  86
tests_per_case                                 87
tests_units                                    61
total_vaccinations                            467
people_vaccinated                             467
people_fully_vaccinated                       472
total_boosters                                596
new_vaccinations                              482
new_vaccinations_smoothed                     422
total_vaccinations_per_hundred                467
people_vaccinated_per_hundred                 467
people_fully_vaccinated_per_hundred           472
total_boosters_per_hundred                    596
new_vaccinations_smoothed_per_million         422
new_people_vaccinated_smoothed                422
new_people_vaccinated_smoothed_per_hundred    422
stringency_index                               16
population                                      0
population_density                              0
median_age                                      0
aged_65_older                                   0
aged_70_older                                   0
gdp_per_capita                                  0
extreme_poverty                                 0
cardiovasc_death_rate                           0
diabetes_prevalence                             0
female_smokers                                  0
male_smokers                                    0
handwashing_facilities                          0
hospital_beds_per_thousand                      0
life_expectancy                                 0
human_development_index                         0
excess_mortality_cumulative_absolute          914
excess_mortality_cumulative                   914
excess_mortality                              914
excess_mortality_cumulative_per_million       914
dtype: int64

In [11]:
df.loc[df['total_cases'].isnull()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
183133,THA,Asia,Thailand,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183134,THA,Asia,Thailand,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183135,THA,Asia,Thailand,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183136,THA,Asia,Thailand,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183137,THA,Asia,Thailand,2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183138,THA,Asia,Thailand,2020-01-09,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183139,THA,Asia,Thailand,2020-01-10,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183140,THA,Asia,Thailand,2020-01-11,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183141,THA,Asia,Thailand,2020-01-12,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183142,THA,Asia,Thailand,2020-01-13,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183143,THA,Asia,Thailand,2020-01-14,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183144,THA,Asia,Thailand,2020-01-15,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183145,THA,Asia,Thailand,2020-01-16,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183146,THA,Asia,Thailand,2020-01-17,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183147,THA,Asia,Thailand,2020-01-18,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183148,THA,Asia,Thailand,2020-01-19,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183149,THA,Asia,Thailand,2020-01-20,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN
183150,THA,Asia,Thailand,2020-01-21,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,38.8,90.67,2.1,77.15,0.777,NaN,NaN,NaN,NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 944 entries, 183133 to 184076
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    944 non-null    object
 1   continent                                   944 non-null    object
 2   location                                    944 non-null    object
 3   date                                        944 non-null    object
 4   total_cases                                 926 non-null    float64
 5   new_cases                                   923 non-null    float64
 6   new_cases_smoothed                          918 non-null    float64
 7   total_deaths                                887 non-null    float64
 8   new_deaths                                  886 non-null    float64
 9   new_deaths_smoothed                         881 non-null    float64
 10  total_cases_per_million                     926 non-null    float64
 11  new_cases_per_million                       923 non-null    float64
 12  new_cases_smoothed_per_million              918 non-null    float64
 13  total_deaths_per_million                    887 non-null    float64
 14  new_deaths_per_million                      886 non-null    float64
 15  new_deaths_smoothed_per_million             881 non-null    float64
 16  reproduction_rate                           870 non-null    float64
 17  icu_patients                                0 non-null      float64
 18  icu_patients_per_million                    0 non-null      float64
 19  hosp_patients                               0 non-null      float64
 20  hosp_patients_per_million                   0 non-null      float64
 21  weekly_icu_admissions                       0 non-null      float64
 22  weekly_icu_admissions_per_million           0 non-null      float64
 23  weekly_hosp_admissions                      0 non-null      float64
 24  weekly_hosp_admissions_per_million          0 non-null      float64
 25  total_tests                                 882 non-null    float64
 26  new_tests                                   882 non-null    float64
 27  total_tests_per_thousand                    882 non-null    float64
 28  new_tests_per_thousand                      882 non-null    float64
 29  new_tests_smoothed                          876 non-null    float64
 30  new_tests_smoothed_per_thousand             876 non-null    float64
 31  positive_rate                               858 non-null    float64
 32  tests_per_case                              857 non-null    float64
 33  tests_units                                 883 non-null    object
 34  total_vaccinations                          477 non-null    float64
 35  people_vaccinated                           477 non-null    float64
 36  people_fully_vaccinated                     472 non-null    float64
 37  total_boosters                              348 non-null    float64
 38  new_vaccinations                            462 non-null    float64
 39  new_vaccinations_smoothed                   522 non-null    float64
 40  total_vaccinations_per_hundred              477 non-null    float64
 41  people_vaccinated_per_hundred               477 non-null    float64
 42  people_fully_vaccinated_per_hundred         472 non-null    float64
 43  total_boosters_per_hundred                  348 non-null    float64
 44  new_vaccinations_smoothed_per_million       522 non-null    float64
 45  new_people_vaccinated_smoothed              522 non-null    float64
 46  new_people_vaccinated_smoothed_per_hundred  522 non-null    float64
 47  stringency_index                            928 non-null    float64
 48  population                                  944 non-null    float64
 49  population_density                          944 non-null    float64
 50  median_age                                  944 non-null    float64
 51  aged_65_older                               944 non-null    float64
 52  aged_70_older                               944 non-null    float64
 53  gdp_per_capita                              944 non-null    float64
 54  extreme_poverty                             944 non-null    float64
 55  cardiovasc_death_rate                       944 non-null    float64
 56  diabetes_prevalence                         944 non-null    float64
 57  female_smokers                              944 non-null    float64
 58  male_smokers                                944 non-null    float64
 59  handwashing_facilities                      944 non-null    float64
 60  hospital_beds_per_thousand                  944 non-null    float64
 61  life_expectancy                             944 non-null    float64
 62  human_development_index                     944 non-null    float64
 63  excess_mortality_cumulative_absolute        30 non-null     float64
 64  excess_mortality_cumulative                 30 non-null     float64
 65  excess_mortality                            30 non-null     float64
 66  excess_mortality_cumulative_per_million     30 non-null     float64
dtypes: float64(62), object(5)
memory usage: 501.5+ KB

In [13]:
df['tests_units'].unique()

array(['tests performed', nan], dtype=object)

In [14]:
df['tests_units'] = np.where(df['tests_units'] =='tests performed', 1, 0)

In [15]:
df['tests_units']

183133    1
183134    1
183135    1
183136    1
183137    1
         ..
184072    0
184073    0
184074    0
184075    0
184076    0
Name: tests_units, Length: 944, dtype: int64

In [16]:
df.isna().sum()

iso_code                                        0
continent                                       0
location                                        0
date                                            0
total_cases                                    18
new_cases                                      21
new_cases_smoothed                             26
total_deaths                                   57
new_deaths                                     58
new_deaths_smoothed                            63
total_cases_per_million                        18
new_cases_per_million                          21
new_cases_smoothed_per_million                 26
total_deaths_per_million                       57
new_deaths_per_million                         58
new_deaths_smoothed_per_million                63
reproduction_rate                              74
icu_patients                                  944
icu_patients_per_million                      944
hosp_patients                                 944
hosp_patients_per_million                     944
weekly_icu_admissions                         944
weekly_icu_admissions_per_million             944
weekly_hosp_admissions                        944
weekly_hosp_admissions_per_million            944
total_tests                                    62
new_tests                                      62
total_tests_per_thousand                       62
new_tests_per_thousand                         62
new_tests_smoothed                             68
new_tests_smoothed_per_thousand                68
positive_rate                                  86
tests_per_case                                 87
tests_units                                     0
total_vaccinations                            467
people_vaccinated                             467
people_fully_vaccinated                       472
total_boosters                                596
new_vaccinations                              482
new_vaccinations_smoothed                     422
total_vaccinations_per_hundred                467
people_vaccinated_per_hundred                 467
people_fully_vaccinated_per_hundred           472
total_boosters_per_hundred                    596
new_vaccinations_smoothed_per_million         422
new_people_vaccinated_smoothed                422
new_people_vaccinated_smoothed_per_hundred    422
stringency_index                               16
population                                      0
population_density                              0
median_age                                      0
aged_65_older                                   0
aged_70_older                                   0
gdp_per_capita                                  0
extreme_poverty                                 0
cardiovasc_death_rate                           0
diabetes_prevalence                             0
female_smokers                                  0
male_smokers                                    0
handwashing_facilities                          0
hospital_beds_per_thousand                      0
life_expectancy                                 0
human_development_index                         0
excess_mortality_cumulative_absolute          914
excess_mortality_cumulative                   914
excess_mortality                              914
excess_mortality_cumulative_per_million       914
dtype: int64

In [17]:
df['tests_per_case'].loc[df['tests_per_case'].notnull()]

183157    27.3
183158    37.8
183159    48.3
183160    43.5
183161    61.9
          ...
184011     3.2
184012     3.3
184013     3.3
184014     3.2
184015     3.2
Name: tests_per_case, Length: 857, dtype: float64

In [18]:
columns = [
    'icu_patients_per_million',
"hosp_patients",
"hosp_patients_per_million",
"weekly_icu_admissions",
'weekly_icu_admissions_per_million',
"weekly_hosp_admissions",
'weekly_hosp_admissions_per_million',
    'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality', 'excess_mortality_cumulative_per_million'
]
df = df.drop(columns=columns)

In [19]:
df = df.reset_index()

In [20]:
df.isna().sum()

index                                           0
iso_code                                        0
continent                                       0
location                                        0
date                                            0
total_cases                                    18
new_cases                                      21
new_cases_smoothed                             26
total_deaths                                   57
new_deaths                                     58
new_deaths_smoothed                            63
total_cases_per_million                        18
new_cases_per_million                          21
new_cases_smoothed_per_million                 26
total_deaths_per_million                       57
new_deaths_per_million                         58
new_deaths_smoothed_per_million                63
reproduction_rate                              74
icu_patients                                  944
total_tests                                    62
new_tests                                      62
total_tests_per_thousand                       62
new_tests_per_thousand                         62
new_tests_smoothed                             68
new_tests_smoothed_per_thousand                68
positive_rate                                  86
tests_per_case                                 87
tests_units                                     0
total_vaccinations                            467
people_vaccinated                             467
people_fully_vaccinated                       472
total_boosters                                596
new_vaccinations                              482
new_vaccinations_smoothed                     422
total_vaccinations_per_hundred                467
people_vaccinated_per_hundred                 467
people_fully_vaccinated_per_hundred           472
total_boosters_per_hundred                    596
new_vaccinations_smoothed_per_million         422
new_people_vaccinated_smoothed                422
new_people_vaccinated_smoothed_per_hundred    422
stringency_index                               16
population                                      0
population_density                              0
median_age                                      0
aged_65_older                                   0
aged_70_older                                   0
gdp_per_capita                                  0
extreme_poverty                                 0
cardiovasc_death_rate                           0
diabetes_prevalence                             0
female_smokers                                  0
male_smokers                                    0
handwashing_facilities                          0
hospital_beds_per_thousand                      0
life_expectancy                                 0
human_development_index                         0
dtype: int64

In [21]:
df['date'].loc[df['total_vaccinations'].isnull()]

0      2020-01-04
1      2020-01-05
2      2020-01-06
3      2020-01-07
4      2020-01-08
5      2020-01-09
6      2020-01-10
7      2020-01-11
8      2020-01-12
9      2020-01-13
10     2020-01-14
11     2020-01-15
12     2020-01-16
13     2020-01-17
14     2020-01-18
15     2020-01-19
16     2020-01-20
17     2020-01-21
18     2020-01-22
19     2020-01-23
20     2020-01-24
21     2020-01-25
22     2020-01-26
23     2020-01-27
24     2020-01-28
25     2020-01-29
26     2020-01-30
27     2020-01-31
28     2020-02-01
29     2020-02-02
30     2020-02-03
31     2020-02-04
32     2020-02-05
33     2020-02-06
34     2020-02-07
35     2020-02-08
36     2020-02-09
37     2020-02-10
38     2020-02-11
39     2020-02-12
40     2020-02-13
41     2020-02-14
42     2020-02-15
43     2020-02-16
44     2020-02-17
45     2020-02-18
46     2020-02-19
47     2020-02-20
48     2020-02-21
49     2020-02-22
50     2020-02-23
51     2020-02-24
52     2020-02-25
53     2020-02-26
54     2020-02-27
55     2020-02-28
56     2020-02-29
57     2020-03-01
58     2020-03-02
59     2020-03-03
60     2020-03-04
61     2020-03-05
62     2020-03-06
63     2020-03-07
64     2020-03-08
65     2020-03-09
66     2020-03-10
67     2020-03-11
68     2020-03-12
69     2020-03-13
70     2020-03-14
71     2020-03-15
72     2020-03-16
73     2020-03-17
74     2020-03-18
75     2020-03-19
76     2020-03-20
77     2020-03-21
78     2020-03-22
79     2020-03-23
80     2020-03-24
81     2020-03-25
82     2020-03-26
83     2020-03-27
84     2020-03-28
85     2020-03-29
86     2020-03-30
87     2020-03-31
88     2020-04-01
89     2020-04-02
90     2020-04-03
91     2020-04-04
92     2020-04-05
93     2020-04-06
94     2020-04-07
95     2020-04-08
96     2020-04-09
97     2020-04-10
98     2020-04-11
99     2020-04-12
100    2020-04-13
101    2020-04-14
102    2020-04-15
103    2020-04-16
104    2020-04-17
105    2020-04-18
106    2020-04-19
107    2020-04-20
108    2020-04-21
109    2020-04-22
110    2020-04-23
111    2020-04-24
112    2020-04-25
113    2020-04-26
114    2020-04-27
115    2020-04-28
116    2020-04-29
117    2020-04-30
118    2020-05-01
119    2020-05-02
120    2020-05-03
121    2020-05-04
122    2020-05-05
123    2020-05-06
124    2020-05-07
125    2020-05-08
126    2020-05-09
127    2020-05-10
128    2020-05-11
129    2020-05-12
130    2020-05-13
131    2020-05-14
132    2020-05-15
133    2020-05-16
134    2020-05-17
135    2020-05-18
136    2020-05-19
137    2020-05-20
138    2020-05-21
139    2020-05-22
140    2020-05-23
141    2020-05-24
142    2020-05-25
143    2020-05-26
144    2020-05-27
145    2020-05-28
146    2020-05-29
147    2020-05-30
148    2020-05-31
149    2020-06-01
150    2020-06-02
151    2020-06-03
152    2020-06-04
153    2020-06-05
154    2020-06-06
155    2020-06-07
156    2020-06-08
157    2020-06-09
158    2020-06-10
159    2020-06-11
160    2020-06-12
161    2020-06-13
162    2020-06-14
163    2020-06-15
164    2020-06-16
165    2020-06-17
166    2020-06-18
167    2020-06-19
168    2020-06-20
169    2020-06-21
170    2020-06-22
171    2020-06-23
172    2020-06-24
173    2020-06-25
174    2020-06-26
175    2020-06-27
176    2020-06-28
177    2020-06-29
178    2020-06-30
179    2020-07-01
180    2020-07-02
181    2020-07-03
182    2020-07-04
183    2020-07-05
184    2020-07-06
185    2020-07-07
186    2020-07-08
187    2020-07-09
188    2020-07-10
189    2020-07-11
190    2020-07-12
191    2020-07-13
192    2020-07-14
193    2020-07-15
194    2020-07-16
195    2020-07-17
196    2020-07-18
197    2020-07-19
198    2020-07-20
199    2020-07-21
200    2020-07-22
201    2020-07-23
202    2020-07-24
203    2020-07-25
204    2020-07-26
205    2020-07-27
206    2020-07-28
207    2020-07-29
208    2020-07-30
209    2020-07-31
210    2020-08-01
211    2020-08-02
212    2020-08-03
213    2020-08-04
214    2020-08-05
215    2020-08-06
216    2020-08-07
217    2020-08-08
218    2020-08-09
219    2020-08-10
220    2020-08-11
221    2020-08-12
222    2020-08-13
223    2020-08-14
224    2020-08-15
225    2020-08-16
226    2020-08-17
227    2020-08-18
228    2020-08-19
229    2020-08-20
230    2020-08-21
231    2020-08-22
232    2020-08-23
233    2020-08-24
234    2020-08-25
235    2020-08-26
236    2020-08-27
237    2020-08-28
238    2020-08-29
239    2020-08-30
240    2020-08-31
241    2020-09-01
242    2020-09-02
243    2020-09-03
244    2020-09-04
245    2020-09-05
246    2020-09-06
247    2020-09-07
248    2020-09-08
249    2020-09-09
250    2020-09-10
251    2020-09-11
252    2020-09-12
253    2020-09-13
254    2020-09-14
255    2020-09-15
256    2020-09-16
257    2020-09-17
258    2020-09-18
259    2020-09-19
260    2020-09-20
261    2020-09-21
262    2020-09-22
263    2020-09-23
264    2020-09-24
265    2020-09-25
266    2020-09-26
267    2020-09-27
268    2020-09-28
269    2020-09-29
270    2020-09-30
271    2020-10-01
272    2020-10-02
273    2020-10-03
274    2020-10-04
275    2020-10-05
276    2020-10-06
277    2020-10-07
278    2020-10-08
279    2020-10-09
280    2020-10-10
281    2020-10-11
282    2020-10-12
283    2020-10-13
284    2020-10-14
285    2020-10-15
286    2020-10-16
287    2020-10-17
288    2020-10-18
289    2020-10-19
290    2020-10-20
291    2020-10-21
292    2020-10-22
293    2020-10-23
294    2020-10-24
295    2020-10-25
296    2020-10-26
297    2020-10-27
298    2020-10-28
299    2020-10-29
300    2020-10-30
301    2020-10-31
302    2020-11-01
303    2020-11-02
304    2020-11-03
305    2020-11-04
306    2020-11-05
307    2020-11-06
308    2020-11-07
309    2020-11-08
310    2020-11-09
311    2020-11-10
312    2020-11-11
313    2020-11-12
314    2020-11-13
315    2020-11-14
316    2020-11-15
317    2020-11-16
318    2020-11-17
319    2020-11-18
320    2020-11-19
321    2020-11-20
322    2020-11-21
323    2020-11-22
324    2020-11-23
325    2020-11-24
326    2020-11-25
327    2020-11-26
328    2020-11-27
329    2020-11-28
330    2020-11-29
331    2020-11-30
332    2020-12-01
333    2020-12-02
334    2020-12-03
335    2020-12-04
336    2020-12-05
337    2020-12-06
338    2020-12-07
339    2020-12-08
340    2020-12-09
341    2020-12-10
342    2020-12-11
343    2020-12-12
344    2020-12-13
345    2020-12-14
346    2020-12-15
347    2020-12-16
348    2020-12-17
349    2020-12-18
350    2020-12-19
351    2020-12-20
352    2020-12-21
353    2020-12-22
354    2020-12-23
355    2020-12-24
356    2020-12-25
357    2020-12-26
358    2020-12-27
359    2020-12-28
360    2020-12-29
361    2020-12-30
362    2020-12-31
363    2021-01-01
364    2021-01-02
365    2021-01-03
366    2021-01-04
367    2021-01-05
368    2021-01-06
369    2021-01-07
370    2021-01-08
371    2021-01-09
372    2021-01-10
373    2021-01-11
374    2021-01-12
375    2021-01-13
376    2021-01-14
377    2021-01-15
378    2021-01-16
379    2021-01-17
380    2021-01-18
381    2021-01-19
382    2021-01-20
383    2021-01-21
384    2021-01-22
385    2021-01-23
386    2021-01-24
387    2021-01-25
388    2021-01-26
389    2021-01-27
390    2021-01-28
391    2021-01-29
392    2021-01-30
393    2021-01-31
394    2021-02-01
395    2021-02-02
396    2021-02-03
397    2021-02-04
398    2021-02-05
399    2021-02-06
400    2021-02-07
401    2021-02-08
402    2021-02-09
403    2021-02-10
404    2021-02-11
405    2021-02-12
406    2021-02-13
407    2021-02-14
408    2021-02-15
409    2021-02-16
410    2021-02-17
411    2021-02-18
412    2021-02-19
413    2021-02-20
414    2021-02-21
415    2021-02-22
416    2021-02-23
417    2021-02-24
418    2021-02-25
419    2021-02-26
421    2021-02-28
424    2021-03-03
425    2021-03-04
426    2021-03-05
427    2021-03-06
428    2021-03-07
429    2021-03-08
430    2021-03-09
432    2021-03-11
433    2021-03-12
435    2021-03-14
436    2021-03-15
437    2021-03-16
438    2021-03-17
439    2021-03-18
440    2021-03-19
441    2021-03-20
442    2021-03-21
443    2021-03-22
444    2021-03-23
446    2021-03-25
447    2021-03-26
448    2021-03-27
449    2021-03-28
450    2021-03-29
452    2021-03-31
466    2021-04-14
496    2021-05-14
497    2021-05-15
515    2021-06-02
588    2021-08-14
605    2021-08-31
628    2021-09-23
629    2021-09-24
630    2021-09-25
631    2021-09-26
632    2021-09-27
633    2021-09-28
634    2021-09-29
635    2021-09-30
636    2021-10-01
637    2021-10-02
638    2021-10-03
639    2021-10-04
685    2021-11-19
696    2021-11-30
943    2022-08-04
Name: date, dtype: object

In [22]:
df.at[515, 'total_vaccinations'] = df.at[514, 'total_vaccinations'] + (df.at[516, 'total_vaccinations'] - df.at[514, 'total_vaccinations'])

In [23]:
df.at[515, 'total_vaccinations']

3961589.0

In [24]:
for i in range(410):
    df.at[i, 'total_vaccinations'] = 0

In [25]:
df['date'].loc[df['total_vaccinations'].isnull()]

410    2021-02-17
411    2021-02-18
412    2021-02-19
413    2021-02-20
414    2021-02-21
415    2021-02-22
416    2021-02-23
417    2021-02-24
418    2021-02-25
419    2021-02-26
421    2021-02-28
424    2021-03-03
425    2021-03-04
426    2021-03-05
427    2021-03-06
428    2021-03-07
429    2021-03-08
430    2021-03-09
432    2021-03-11
433    2021-03-12
435    2021-03-14
436    2021-03-15
437    2021-03-16
438    2021-03-17
439    2021-03-18
440    2021-03-19
441    2021-03-20
442    2021-03-21
443    2021-03-22
444    2021-03-23
446    2021-03-25
447    2021-03-26
448    2021-03-27
449    2021-03-28
450    2021-03-29
452    2021-03-31
466    2021-04-14
496    2021-05-14
497    2021-05-15
588    2021-08-14
605    2021-08-31
628    2021-09-23
629    2021-09-24
630    2021-09-25
631    2021-09-26
632    2021-09-27
633    2021-09-28
634    2021-09-29
635    2021-09-30
636    2021-10-01
637    2021-10-02
638    2021-10-03
639    2021-10-04
685    2021-11-19
696    2021-11-30
943    2022-08-04
Name: date, dtype: object

In [26]:
df_vac = pd.read_csv('/usr/src/covid_prediction/covid-vaccination-dataset/vaccinations.csv')

In [27]:
df_vac = df_vac.loc[df_vac['location'] == 'Thailand']

In [28]:
df_vac['date'] = pd.to_datetime(df_vac['date'], format='%Y-%m-%d')

In [29]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [30]:
#df_vac['total_vaccinations'] = df_vac.apply(lambda x: x['daily_vaccinations'] if x['total_vaccinations'] == float("nan") else x['daily_vaccinations'], axis=1)

In [31]:
df.set_index('date', inplace=True)
df.update(df_vac.set_index('date'))
df = df.reset_index()

In [32]:
df_vac.loc[df_vac['date'] == '2021-11-30']

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
105098,Thailand,THA,2021-11-30,NaN,NaN,NaN,NaN,NaN,590665.0,NaN,NaN,NaN,NaN,8249.0,223601.0,0.312

In [33]:
df.at[943, 'total_vaccinations'] = 141814894

In [34]:
df_vac.loc[df_vac['date'] == '2021-11-30']

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
105098,Thailand,THA,2021-11-30,NaN,NaN,NaN,NaN,NaN,590665.0,NaN,NaN,NaN,NaN,8249.0,223601.0,0.312

In [35]:
df['date'].loc[df['total_vaccinations'].isnull()]

410   2021-02-17
411   2021-02-18
412   2021-02-19
413   2021-02-20
414   2021-02-21
415   2021-02-22
416   2021-02-23
417   2021-02-24
418   2021-02-25
419   2021-02-26
421   2021-02-28
424   2021-03-03
425   2021-03-04
426   2021-03-05
427   2021-03-06
428   2021-03-07
429   2021-03-08
430   2021-03-09
432   2021-03-11
433   2021-03-12
435   2021-03-14
436   2021-03-15
437   2021-03-16
438   2021-03-17
439   2021-03-18
440   2021-03-19
441   2021-03-20
442   2021-03-21
443   2021-03-22
444   2021-03-23
446   2021-03-25
447   2021-03-26
448   2021-03-27
449   2021-03-28
450   2021-03-29
452   2021-03-31
466   2021-04-14
496   2021-05-14
497   2021-05-15
588   2021-08-14
605   2021-08-31
628   2021-09-23
629   2021-09-24
630   2021-09-25
631   2021-09-26
632   2021-09-27
633   2021-09-28
634   2021-09-29
635   2021-09-30
636   2021-10-01
637   2021-10-02
638   2021-10-03
639   2021-10-04
685   2021-11-19
696   2021-11-30
Name: date, dtype: datetime64[ns]

In [36]:
df['total_vaccinations']

0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
          ...
939    140829069.0
940    140859084.0
941    140893847.0
942    140926438.0
943    141814894.0
Name: total_vaccinations, Length: 944, dtype: float64

In [37]:
df['total_vaccinations'].loc[df['date'] == '2021-02-17']

410   NaN
Name: total_vaccinations, dtype: float64

In [38]:
df = df.fillna(0)

In [39]:
df

,date,index,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,2020-01-04,183133,THA,Asia,Thailand,0.0,0.0,0.000,0.0,0.0,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.1,77.15,0.777
1,2020-01-05,183134,THA,Asia,Thailand,0.0,0.0,0.000,0.0,0.0,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.1,77.15,0.777
2,2020-01-06,183135,THA,Asia,Thailand,0.0,0.0,0.000,0.0,0.0,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.1,77.15,0.777
3,2020-01-07,183136,THA,Asia,Thailand,0.0,0.0,0.000,0.0,0.0,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.1,77.15,0.777
4,2020-01-08,183137,THA,Asia,Thailand,0.0,0.0,0.000,0.0,0.0,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.1,77.15,0.777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2022-07-31,184072,THA,Asia,Thailand,4592284.0,2108.0,2098.714,31404.0,19.0,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.1,77.15,0.777
940,2022-08-01,184073,THA,Asia,Thailand,4594127.0,1843.0,2362.000,31431.0,27.0,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.1,77.15,0.777
941,2022-08-02,184074,THA,Asia,Thailand,4596559.0,2432.0,2055.857,31463.0,32.0,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.1,77.15,0.777
942,2022-08-03,184075,THA,Asia,Thailand,4598725.0,2166.0,2093.571,31492.0,29.0,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.1,77.15,0.777
943,2022-08-04,184076,THA,Asia,Thailand,4600978.0,2253.0,2061.143,31526.0,34.0,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.1,77.15,0.777

In [40]:
df.isna().sum()

date                                          0
index                                         0
iso_code                                      0
continent                                     0
location                                      0
total_cases                                   0
new_cases                                     0
new_cases_smoothed                            0
total_deaths                                  0
new_deaths                                    0
new_deaths_smoothed                           0
total_cases_per_million                       0
new_cases_per_million                         0
new_cases_smoothed_per_million                0
total_deaths_per_million                      0
new_deaths_per_million                        0
new_deaths_smoothed_per_million               0
reproduction_rate                             0
icu_patients                                  0
total_tests                                   0
new_tests                                     0
total_tests_per_thousand                      0
new_tests_per_thousand                        0
new_tests_smoothed                            0
new_tests_smoothed_per_thousand               0
positive_rate                                 0
tests_per_case                                0
tests_units                                   0
total_vaccinations                            0
people_vaccinated                             0
people_fully_vaccinated                       0
total_boosters                                0
new_vaccinations                              0
new_vaccinations_smoothed                     0
total_vaccinations_per_hundred                0
people_vaccinated_per_hundred                 0
people_fully_vaccinated_per_hundred           0
total_boosters_per_hundred                    0
new_vaccinations_smoothed_per_million         0
new_people_vaccinated_smoothed                0
new_people_vaccinated_smoothed_per_hundred    0
stringency_index                              0
population                                    0
population_density                            0
median_age                                    0
aged_65_older                                 0
aged_70_older                                 0
gdp_per_capita                                0
extreme_poverty                               0
cardiovasc_death_rate                         0
diabetes_prevalence                           0
female_smokers                                0
male_smokers                                  0
handwashing_facilities                        0
hospital_beds_per_thousand                    0
life_expectancy                               0
human_development_index                       0
dtype: int64

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944 entries, 0 to 943
Data columns (total 57 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        944 non-null    datetime64[ns]
 1   index                                       944 non-null    int64
 2   iso_code                                    944 non-null    object
 3   continent                                   944 non-null    object
 4   location                                    944 non-null    object
 5   total_cases                                 944 non-null    float64
 6   new_cases                                   944 non-null    float64
 7   new_cases_smoothed                          944 non-null    float64
 8   total_deaths                                944 non-null    float64
 9   new_deaths                                  944 non-null    float64
 10  new_deaths_smoothed                         944 non-null    float64
 11  total_cases_per_million                     944 non-null    float64
 12  new_cases_per_million                       944 non-null    float64
 13  new_cases_smoothed_per_million              944 non-null    float64
 14  total_deaths_per_million                    944 non-null    float64
 15  new_deaths_per_million                      944 non-null    float64
 16  new_deaths_smoothed_per_million             944 non-null    float64
 17  reproduction_rate                           944 non-null    float64
 18  icu_patients                                944 non-null    float64
 19  total_tests                                 944 non-null    float64
 20  new_tests                                   944 non-null    float64
 21  total_tests_per_thousand                    944 non-null    float64
 22  new_tests_per_thousand                      944 non-null    float64
 23  new_tests_smoothed                          944 non-null    float64
 24  new_tests_smoothed_per_thousand             944 non-null    float64
 25  positive_rate                               944 non-null    float64
 26  tests_per_case                              944 non-null    float64
 27  tests_units                                 944 non-null    int64
 28  total_vaccinations                          944 non-null    float64
 29  people_vaccinated                           944 non-null    float64
 30  people_fully_vaccinated                     944 non-null    float64
 31  total_boosters                              944 non-null    float64
 32  new_vaccinations                            944 non-null    float64
 33  new_vaccinations_smoothed                   944 non-null    float64
 34  total_vaccinations_per_hundred              944 non-null    float64
 35  people_vaccinated_per_hundred               944 non-null    float64
 36  people_fully_vaccinated_per_hundred         944 non-null    float64
 37  total_boosters_per_hundred                  944 non-null    float64
 38  new_vaccinations_smoothed_per_million       944 non-null    float64
 39  new_people_vaccinated_smoothed              944 non-null    float64
 40  new_people_vaccinated_smoothed_per_hundred  944 non-null    float64
 41  stringency_index                            944 non-null    float64
 42  population                                  944 non-null    float64
 43  population_density                          944 non-null    float64
 44  median_age                                  944 non-null    float64
 45  aged_65_older                               944 non-null    float64
 46  aged_70_older                               944 non-null    float64
 47  gdp_per_capita                              944 non-null    float64
 48  extreme_poverty                             944 non-null    float64
 49  cardiovasc_death_rate                       944 non-null    float64
 50  diabetes_prevalence                         944 non-null    float64
 51  female_smokers                              944 non-null    float64
 52  male_smokers                                944 non-null    float64
 53  handwashing_facilities                      944 non-null    float64
 54  hospital_beds_per_thousand                  944 non-null    float64
 55  life_expectancy                             944 non-null    float64
 56  human_development_index                     944 non-null    float64
dtypes: datetime64[ns](1), float64(51), int64(2), object(3)
memory usage: 420.5+ KB

In [42]:
df['year'] = df['date'].dt.year
df['day'] = df['date'].dt.day
df['month'] = df['date'].dt.month

In [43]:
df

,date,index,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,year,day,month
0,2020-01-04,183133,THA,Asia,Thailand,0.0,0.0,0.000,0.0,0.0,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,4,1
1,2020-01-05,183134,THA,Asia,Thailand,0.0,0.0,0.000,0.0,0.0,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,5,1
2,2020-01-06,183135,THA,Asia,Thailand,0.0,0.0,0.000,0.0,0.0,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,6,1
3,2020-01-07,183136,THA,Asia,Thailand,0.0,0.0,0.000,0.0,0.0,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,7,1
4,2020-01-08,183137,THA,Asia,Thailand,0.0,0.0,0.000,0.0,0.0,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2022-07-31,184072,THA,Asia,Thailand,4592284.0,2108.0,2098.714,31404.0,19.0,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,31,7
940,2022-08-01,184073,THA,Asia,Thailand,4594127.0,1843.0,2362.000,31431.0,27.0,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,1,8
941,2022-08-02,184074,THA,Asia,Thailand,4596559.0,2432.0,2055.857,31463.0,32.0,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,2,8
942,2022-08-03,184075,THA,Asia,Thailand,4598725.0,2166.0,2093.571,31492.0,29.0,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,3,8
943,2022-08-04,184076,THA,Asia,Thailand,4600978.0,2253.0,2061.143,31526.0,34.0,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,4,8

In [44]:
df = df.drop(columns=['date', 'location'])

In [45]:
df

,index,iso_code,continent,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,year,day,month
0,183133,THA,Asia,0.0,0.0,0.000,0.0,0.0,0.000,0.000,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,4,1
1,183134,THA,Asia,0.0,0.0,0.000,0.0,0.0,0.000,0.000,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,5,1
2,183135,THA,Asia,0.0,0.0,0.000,0.0,0.0,0.000,0.000,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,6,1
3,183136,THA,Asia,0.0,0.0,0.000,0.0,0.0,0.000,0.000,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,7,1
4,183137,THA,Asia,0.0,0.0,0.000,0.0,0.0,0.000,0.000,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,184072,THA,Asia,4592284.0,2108.0,2098.714,31404.0,19.0,30.714,64137.057,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,31,7
940,184073,THA,Asia,4594127.0,1843.0,2362.000,31431.0,27.0,34.571,64162.796,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,1,8
941,184074,THA,Asia,4596559.0,2432.0,2055.857,31463.0,32.0,29.286,64196.762,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,2,8
942,184075,THA,Asia,4598725.0,2166.0,2093.571,31492.0,29.0,28.857,64227.013,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,3,8
943,184076,THA,Asia,4600978.0,2253.0,2061.143,31526.0,34.0,28.429,64258.479,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,4,8

In [46]:
df['iso_code'] = df['iso_code'].apply(lambda x : 3166)

In [47]:
df['continent'] = df['continent'].apply(lambda x : 142)

In [48]:
df

,index,iso_code,continent,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,year,day,month
0,183133,3166,142,0.0,0.0,0.000,0.0,0.0,0.000,0.000,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,4,1
1,183134,3166,142,0.0,0.0,0.000,0.0,0.0,0.000,0.000,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,5,1
2,183135,3166,142,0.0,0.0,0.000,0.0,0.0,0.000,0.000,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,6,1
3,183136,3166,142,0.0,0.0,0.000,0.0,0.0,0.000,0.000,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,7,1
4,183137,3166,142,0.0,0.0,0.000,0.0,0.0,0.000,0.000,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2020,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,184072,3166,142,4592284.0,2108.0,2098.714,31404.0,19.0,30.714,64137.057,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,31,7
940,184073,3166,142,4594127.0,1843.0,2362.000,31431.0,27.0,34.571,64162.796,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,1,8
941,184074,3166,142,4596559.0,2432.0,2055.857,31463.0,32.0,29.286,64196.762,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,2,8
942,184075,3166,142,4598725.0,2166.0,2093.571,31492.0,29.0,28.857,64227.013,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,3,8
943,184076,3166,142,4600978.0,2253.0,2061.143,31526.0,34.0,28.429,64258.479,...,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,4,8

In [51]:
df['total_vaccinations'].iloc[0:409]

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      0.0
8      0.0
9      0.0
10     0.0
11     0.0
12     0.0
13     0.0
14     0.0
15     0.0
16     0.0
17     0.0
18     0.0
19     0.0
20     0.0
21     0.0
22     0.0
23     0.0
24     0.0
25     0.0
26     0.0
27     0.0
28     0.0
29     0.0
30     0.0
31     0.0
32     0.0
33     0.0
34     0.0
35     0.0
36     0.0
37     0.0
38     0.0
39     0.0
40     0.0
41     0.0
42     0.0
43     0.0
44     0.0
45     0.0
46     0.0
47     0.0
48     0.0
49     0.0
50     0.0
51     0.0
52     0.0
53     0.0
54     0.0
55     0.0
56     0.0
57     0.0
58     0.0
59     0.0
60     0.0
61     0.0
62     0.0
63     0.0
64     0.0
65     0.0
66     0.0
67     0.0
68     0.0
69     0.0
70     0.0
71     0.0
72     0.0
73     0.0
74     0.0
75     0.0
76     0.0
77     0.0
78     0.0
79     0.0
80     0.0
81     0.0
82     0.0
83     0.0
84     0.0
85     0.0
86     0.0
87     0.0
88     0.0
89     0.0
90     0.0
91     0.0
92     0.0
93     0.0
94     0.0
95     0.0
96     0.0
97     0.0
98     0.0
99     0.0
100    0.0
101    0.0
102    0.0
103    0.0
104    0.0
105    0.0
106    0.0
107    0.0
108    0.0
109    0.0
110    0.0
111    0.0
112    0.0
113    0.0
114    0.0
115    0.0
116    0.0
117    0.0
118    0.0
119    0.0
120    0.0
121    0.0
122    0.0
123    0.0
124    0.0
125    0.0
126    0.0
127    0.0
128    0.0
129    0.0
130    0.0
131    0.0
132    0.0
133    0.0
134    0.0
135    0.0
136    0.0
137    0.0
138    0.0
139    0.0
140    0.0
141    0.0
142    0.0
143    0.0
144    0.0
145    0.0
146    0.0
147    0.0
148    0.0
149    0.0
150    0.0
151    0.0
152    0.0
153    0.0
154    0.0
155    0.0
156    0.0
157    0.0
158    0.0
159    0.0
160    0.0
161    0.0
162    0.0
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
168    0.0
169    0.0
170    0.0
171    0.0
172    0.0
173    0.0
174    0.0
175    0.0
176    0.0
177    0.0
178    0.0
179    0.0
180    0.0
181    0.0
182    0.0
183    0.0
184    0.0
185    0.0
186    0.0
187    0.0
188    0.0
189    0.0
190    0.0
191    0.0
192    0.0
193    0.0
194    0.0
195    0.0
196    0.0
197    0.0
198    0.0
199    0.0
200    0.0
201    0.0
202    0.0
203    0.0
204    0.0
205    0.0
206    0.0
207    0.0
208    0.0
209    0.0
210    0.0
211    0.0
212    0.0
213    0.0
214    0.0
215    0.0
216    0.0
217    0.0
218    0.0
219    0.0
220    0.0
221    0.0
222    0.0
223    0.0
224    0.0
225    0.0
226    0.0
227    0.0
228    0.0
229    0.0
230    0.0
231    0.0
232    0.0
233    0.0
234    0.0
235    0.0
236    0.0
237    0.0
238    0.0
239    0.0
240    0.0
241    0.0
242    0.0
243    0.0
244    0.0
245    0.0
246    0.0
247    0.0
248    0.0
249    0.0
250    0.0
251    0.0
252    0.0
253    0.0
254    0.0
255    0.0
256    0.0
257    0.0
258    0.0
259    0.0
260    0.0
261    0.0
262    0.0
263    0.0
264    0.0
265    0.0
266    0.0
267    0.0
268    0.0
269    0.0
270    0.0
271    0.0
272    0.0
273    0.0
274    0.0
275    0.0
276    0.0
277    0.0
278    0.0
279    0.0
280    0.0
281    0.0
282    0.0
283    0.0
284    0.0
285    0.0
286    0.0
287    0.0
288    0.0
289    0.0
290    0.0
291    0.0
292    0.0
293    0.0
294    0.0
295    0.0
296    0.0
297    0.0
298    0.0
299    0.0
300    0.0
301    0.0
302    0.0
303    0.0
304    0.0
305    0.0
306    0.0
307    0.0
308    0.0
309    0.0
310    0.0
311    0.0
312    0.0
313    0.0
314    0.0
315    0.0
316    0.0
317    0.0
318    0.0
319    0.0
320    0.0
321    0.0
322    0.0
323    0.0
324    0.0
325    0.0
326    0.0
327    0.0
328    0.0
329    0.0
330    0.0
331    0.0
332    0.0
333    0.0
334    0.0
335    0.0
336    0.0
337    0.0
338    0.0
339    0.0
340    0.0
341    0.0
342    0.0
343    0.0
344    0.0
345    0.0
346    0.0
347    0.0
348    0.0
349    0.0
350    0.0
351    0.0
352    0.0
353    0.0
354    0.0
355    0.0
356    0.0
357    0.0
358    0.0
359    0.0
360    0.0
361    0.0
362    0.0
363    0.0
364    0.0
365    0.0
366    0.0
367    0.0
368    0.0
369    0.0
370    0.0
371    0.0
372    0.0
373    0.0
374    0.0
375    0.0
376    0.0
377    0.0
378    0.0
379    0.0
380    0.0
381    0.0
382    0.0
383    0.0
384    0.0
385    0.0
386    0.0
387    0.0
388    0.0
389    0.0
390    0.0
391    0.0
392    0.0
393    0.0
394    0.0
395    0.0
396    0.0
397    0.0
398    0.0
399    0.0
400    0.0
401    0.0
402    0.0
403    0.0
404    0.0
405    0.0
406    0.0
407    0.0
408    0.0
Name: total_vaccinations, dtype: float64

#####