In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
from new_etl import covid_etl

In [3]:
pd.set_option("display.max_rows", 100)

In [4]:
df = pd.read_csv('/usr/src/covid_prediction/our-world-in-data-covid19-dataset/owid-covid-data.csv')

In [5]:
df = df.loc[df['location'] == 'Thailand']

In [6]:
df.isna().sum()

iso_code                                        0
continent                                       0
location                                        0
date                                            0
total_cases                                    18
new_cases                                      21
new_cases_smoothed                             26
total_deaths                                   57
new_deaths                                     58
new_deaths_smoothed                            63
total_cases_per_million                        18
new_cases_per_million                          21
new_cases_smoothed_per_million                 26
total_deaths_per_million                       57
new_deaths_per_million                         58
new_deaths_smoothed_per_million                63
reproduction_rate                              74
icu_patients                                  944
icu_patients_per_million                      944
hosp_patients                                 944
hosp_patients_per_million                     944
weekly_icu_admissions                         944
weekly_icu_admissions_per_million             944
weekly_hosp_admissions                        944
weekly_hosp_admissions_per_million            944
total_tests                                    62
new_tests                                      62
total_tests_per_thousand                       62
new_tests_per_thousand                         62
new_tests_smoothed                             68
new_tests_smoothed_per_thousand                68
positive_rate                                  86
tests_per_case                                 87
tests_units                                    61
total_vaccinations                            467
people_vaccinated                             467
people_fully_vaccinated                       472
total_boosters                                596
new_vaccinations                              482
new_vaccinations_smoothed                     422
total_vaccinations_per_hundred                467
people_vaccinated_per_hundred                 467
people_fully_vaccinated_per_hundred           472
total_boosters_per_hundred                    596
new_vaccinations_smoothed_per_million         422
new_people_vaccinated_smoothed                422
new_people_vaccinated_smoothed_per_hundred    422
stringency_index                               16
population                                      0
population_density                              0
median_age                                      0
aged_65_older                                   0
aged_70_older                                   0
gdp_per_capita                                  0
extreme_poverty                                 0
cardiovasc_death_rate                           0
diabetes_prevalence                             0
female_smokers                                  0
male_smokers                                    0
handwashing_facilities                          0
hospital_beds_per_thousand                      0
life_expectancy                                 0
human_development_index                         0
excess_mortality_cumulative_absolute          914
excess_mortality_cumulative                   914
excess_mortality                              914
excess_mortality_cumulative_per_million       914
dtype: int64

In [7]:
covid_etl = covid_etl('/usr/src/covid_prediction/our-world-in-data-covid19-dataset/owid-covid-data.csv')

In [8]:
done_etl_df = covid_etl.do()

Index(['total_cases', 'new_cases', 'total_deaths', 'new_deaths',
       'reproduction_rate', 'total_tests', 'new_tests', 'positive_rate',
       'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'stringency_index', 'population',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'year', 'month', 'day'],
      dtype='object')

In [9]:
pd.set_option('display.max_rows', 500)

In [11]:
done_etl_df.columns

Index(['total_cases', 'new_cases', 'total_deaths', 'new_deaths',
       'reproduction_rate', 'total_tests', 'new_tests', 'positive_rate',
       'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'stringency_index', 'population',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'year', 'month', 'day'],
      dtype='object')

In [13]:
done_etl_df.iloc[0]

total_cases                   0.000000e+00
new_cases                     0.000000e+00
total_deaths                  0.000000e+00
new_deaths                    0.000000e+00
reproduction_rate             1.000000e+00
total_tests                   2.000000e+00
new_tests                     2.000000e+00
positive_rate                 0.000000e+00
tests_per_case                0.000000e+00
tests_units                   1.000000e+00
total_vaccinations            0.000000e+00
people_vaccinated             0.000000e+00
people_fully_vaccinated       0.000000e+00
total_boosters                0.000000e+00
new_vaccinations              0.000000e+00
stringency_index              0.000000e+00
population                    7.160110e+07
population_density            1.351320e+02
median_age                    4.010000e+01
aged_65_older                 1.137300e+01
aged_70_older                 6.890000e+00
gdp_per_capita                1.627767e+04
extreme_poverty               1.000000e-01
cardiovasc_death_rate         1.098610e+02
diabetes_prevalence           7.040000e+00
female_smokers                1.900000e+00
male_smokers                  3.880000e+01
handwashing_facilities        9.067000e+01
hospital_beds_per_thousand    2.100000e+00
life_expectancy               7.715000e+01
human_development_index       7.770000e-01
year                          2.020000e+03
month                         1.000000e+00
day                           4.000000e+00
Name: 0, dtype: float64

In [14]:
pd.set_option('display.max_columns', None)

In [18]:
done_etl_df.iloc[298]

total_cases                   3.758000e+03
new_cases                     1.200000e+01
total_deaths                  5.900000e+01
new_deaths                    0.000000e+00
reproduction_rate             1.010000e+00
total_tests                   1.179341e+06
new_tests                     4.250000e+03
positive_rate                 1.600000e-03
tests_per_case                6.274000e+02
tests_units                   1.000000e+00
total_vaccinations            0.000000e+00
people_vaccinated             0.000000e+00
people_fully_vaccinated       0.000000e+00
total_boosters                0.000000e+00
new_vaccinations              0.000000e+00
stringency_index              4.722000e+01
population                    7.160110e+07
population_density            1.351320e+02
median_age                    4.010000e+01
aged_65_older                 1.137300e+01
aged_70_older                 6.890000e+00
gdp_per_capita                1.627767e+04
extreme_poverty               1.000000e-01
cardiovasc_death_rate         1.098610e+02
diabetes_prevalence           7.040000e+00
female_smokers                1.900000e+00
male_smokers                  3.880000e+01
handwashing_facilities        9.067000e+01
hospital_beds_per_thousand    2.100000e+00
life_expectancy               7.715000e+01
human_development_index       7.770000e-01
year                          2.020000e+03
month                         1.000000e+01
day                           2.800000e+01
Name: 298, dtype: float64

In [16]:
done_etl_df.isna().sum()

total_cases                   0
new_cases                     0
total_deaths                  0
new_deaths                    0
reproduction_rate             0
total_tests                   0
new_tests                     0
positive_rate                 0
tests_per_case                0
tests_units                   0
total_vaccinations            0
people_vaccinated             0
people_fully_vaccinated       0
total_boosters                0
new_vaccinations              0
stringency_index              0
population                    0
population_density            0
median_age                    0
aged_65_older                 0
aged_70_older                 0
gdp_per_capita                0
extreme_poverty               0
cardiovasc_death_rate         0
diabetes_prevalence           0
female_smokers                0
male_smokers                  0
handwashing_facilities        0
hospital_beds_per_thousand    0
life_expectancy               0
human_development_index       0
year                          0
month                         0
day                           0
dtype: int64

In [21]:
done_etl_df.sample(2)

,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,total_tests,new_tests,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,year,month,day
787,2912347.0,20420.0,22976.0,43.0,1.14,21146224.0,76230.0,0.3476,2.9,1,123999850.0,53665546.0,49702406.0,20631898.0,159477.0,48.61,71601103.0,135.132,40.1,11.373,6.89,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2022,3,1
622,1448792.0,14555.0,15124.0,171.0,0.93,13221709.0,52375.0,0.2602,3.8,1,43342103.0,28436015.0,14285995.0,0.0,0.0,55.09,71601103.0,135.132,40.1,11.373,6.89,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2021,9,17

In [23]:
done_etl_df.iloc[622]

total_cases                   1.448792e+06
new_cases                     1.455500e+04
total_deaths                  1.512400e+04
new_deaths                    1.710000e+02
reproduction_rate             9.300000e-01
total_tests                   1.322171e+07
new_tests                     5.237500e+04
positive_rate                 2.602000e-01
tests_per_case                3.800000e+00
tests_units                   1.000000e+00
total_vaccinations            4.334210e+07
people_vaccinated             2.843602e+07
people_fully_vaccinated       1.428600e+07
total_boosters                0.000000e+00
new_vaccinations              0.000000e+00
stringency_index              5.509000e+01
population                    7.160110e+07
population_density            1.351320e+02
median_age                    4.010000e+01
aged_65_older                 1.137300e+01
aged_70_older                 6.890000e+00
gdp_per_capita                1.627767e+04
extreme_poverty               1.000000e-01
cardiovasc_death_rate         1.098610e+02
diabetes_prevalence           7.040000e+00
female_smokers                1.900000e+00
male_smokers                  3.880000e+01
handwashing_facilities        9.067000e+01
hospital_beds_per_thousand    2.100000e+00
life_expectancy               7.715000e+01
human_development_index       7.770000e-01
year                          2.021000e+03
month                         9.000000e+00
day                           1.700000e+01
Name: 622, dtype: float64

In [26]:
done_etl_df.loc[done_etl_df.index == 622]

,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,total_tests,new_tests,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,year,month,day
622,1448792.0,14555.0,15124.0,171.0,0.93,13221709.0,52375.0,0.2602,3.8,1,43342103.0,28436015.0,14285995.0,0.0,0.0,55.09,71601103.0,135.132,40.1,11.373,6.89,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.1,77.15,0.777,2021,9,17